#charts_table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 200%;
}
#charts_table th, #charts_table td {
    border: solid 1px;
}
#charts_table th {
    height: 100px;
    width: 30px;
    font-size: 10px;
    text-align: center;
    background-color: orange;
}
#charts_table td {
    width: 100px;
    font-size: 10px;
}
#profile_table td, th{
    padding: 10px;
    font-size: 15px;
}

.margin-auto {
    margin: auto;
}
.center {
    text-align: center;
}
.profile_table {
    text-align: center;
}
.profile_posts {
    display: flex;
    align-items: stretch;
}
.profile_posts>div{
    width:50%;
    padding: 10px;
}
.content_charts {
    padding: 10px;
}
.content_search {
    padding: 30px 100px;
}
.mydon_image {
    width: 140px;
	height: 140px;	
}
.mydon_image_at_search {
    width: 140px;
	height: 140px;	
	border-radius:50%;
}
.mydon_image_at_ff {
    width: 70px;
	height: 70px;	
	border-radius:50%;	
}

.mydon_image_at_dropdown {
    width: 40px;
	height: 40px;	
	border-radius:50%;
}

.tab-wrap {
	background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label {
	color: DeepSkyBlue;
}

.tab-label::after {
	background: DeepSkyBlue;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	padding: 0 20px;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

/* ============================== */

body {
	background: WhiteSmoke;
  font-family: sans-serif;
	margin: 10px;
}
