#charts_table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 200%;
}
#charts_table th, #charts_table td {
    border: solid 1px;
}
#charts_table th {
    height: 100px;
    width: 30px;
    font-size: 10px;
    text-align: center;
    background-color: orange;
}
#charts_table td {
    width: 100px;
    font-size: 10px;
}
#profile_table td, th{
    padding: 10px;
    font-size: 15px;
}

.margin-auto {
    margin: auto;
}
.center {
    text-align: center;
}
.profile_table {
    text-align: center;
}
.profile_posts {
    display: flex;
    align-items: stretch;
}
.profile_posts>div{
    width:50%;
    padding: 10px;
}
.content_charts {
    padding: 10px;
}
.content_search {
    padding: 30px 100px;
}
.mydon_image {
    width: 140px;
	height: 140px;	
}
.mydon_image_at_search {
    width: 70px;
	height: 70px;	
}